.square {
  margin-left: 200px;
  height: 275px;
  width: 275px;
  
  
 
}

.title {
  font-size: 60px;
  font-family: 'Russo One';
  color: black;
  margin-left: 500px;
  
}

.App {
 background-color: silver;
 font-family: "Russo One";
 font-weight: bold;
 color: black;
 
}


.sliderH {
  margin-left: 500px;
  width: 500px;
  cursor: pointer;
  
  
 
}

.sliderS {
  margin-left: 500px;
  width: 500px;
  cursor: pointer;
  
}

.sliderL {
  margin-left: 500px;
  width: 500px;
  cursor: pointer;
  
}


.Variables {
  font-family: "Russo One";
  margin-left: 200px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  
}

.color-inputs {
  box-shadow: black;
}